            <div class="tab-pane" id="confirmation">
              <br />
              <p class="mypara">Step 4 0f 4</p>

<%=h @auditinit.title %>

                <div class="form-inputs">
                  <div class="input-sm">
                    <div class="col-lg-10">
                      <%= f.submit 'Submit',  :class => "btn btn-success btn-sm" %>
                    </div>
                  </div>
                  <br/><br/>      
                </div>
                </div>